body {background-color: rgb(215, 215, 250);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900 ;
    text-align: justify;
}

#title, #post-title, #subtitle, #firstblock {
    color: cornflowerblue;
}
#title{
    text-transform: capitalize;
    text-align:   center  ;
    font-size: xx-large;
}
#post-title {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin: auto;
}
.post {
    background-color: cornsilk;
    padding: 30px 20px;
    border: 3px solid rgb(172, 185, 197);
    border-radius: 3%;
    margin: auto;
}
#subtitle {
    text-transform: uppercase;
    font-trans
   
}
ol {
    list-style: lower-roman;
}
ul{
    list-style-type: "\1F44D";
}

#post-img {
    width:95%;
}